---
---

@import "{{ site.theme }}";

#container .inner {
    width: 1000px !important;
}

#downloads, .inner hr {
    display: none;
}

header {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}

div.next {
    font-size: 14px;
}

div.next {
    text-align: right;
    width: 100%;
}
   
div.next a {
    color: white;
    padding: 15px;
    display: inline-block;
    border: 4px double #147080;
    background-color: #15836E;
}
  
div.next a.next:before {
    content: '---> Next Page: ';
}
div.next a.prev:before {
    content: 'Prev Page: ';
}
div.next a.prev:after {
    content: ' <--- ';
}

table {
    background-color: white;
    border: solid gray 2px;
    margin: 3px;
}

th, td {
    border: 1px solid gray;
    padding: 2px;
}

th {
    background-color:wheat;
}

td {
    text-align: left;
}

fieldset {
    background-color: wheat;
    padding: 3px;
    margin: 3px;
    border: 2px solid gray;
}