table td, table th {
    border: thin solid black;
    padding: 3px;
}
table {
    border-collapse: collapse;
    border: solid gray 8px;
}
tr.header td, tr.header th {
    background-color: #EEEEEE;
}

#analysis td, #analysis th {
    max-width: 500px;
    word-wrap: break-word;
}

#data {
    overflow-x: scroll;
    width: 90%;
    margin: 10px auto;
}

tr.Pass td, tr.Pass th, td.Pass {
    background-color: #b7f48b;
}

tr.Warn td, tr.Warn th, td.Warn {
    background-color: rgb(245, 245, 151);
}

tr.Error td, tr.Error th, td.Error {
    background-color: rgb(238, 131, 131);
}

div.checkm_def {
    font-style: italic;
}

output#result {
    font-style: italic;
}

